@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Please Keep this font import at the very top of any CSS file */
/***************************************************************/
/* RESET */
/***************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  html {
    -webkit-font-smoothing: subpixel-antialiased; } }

body {
  background: #fff;
  line-height: 1.5;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: 0; }

a:hover, a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

a img {
  border: 0; }

/***************************************************************/
/* REBUILDS */
/***************************************************************/
/* =Global
----------------------------------------------- */
body, button, input, select, textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* Text elements */
p {
  margin-bottom: 1.5em; }

/*ul, ol {
    margin: 0 0 1.5em 3em;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}*/
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%; }

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */ }

button, input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible;
  /* Corrects inner spacing displayed oddly in IE6/7 */ }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type=text], input[type=email], input[type=url], textarea {
  color: #666;
  border: 1px solid #ccc; }

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  color: #111; }

input[type=text], input[type=email], input[type=url] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/* Links */
a {
  color: royalblue; }

a:visited {
  color: purple; }

a:hover, a:focus, a:active {
  color: midnightblue; }

/***************************************************************/
/* Scrollbar reset */
/***************************************************************/
::-webkit-scrollbar-track {
  background: #5A5A5A; }

::-webkit-scrollbar {
  background: transparent;
  width: 0; }

/*the new scrollbar will have a flat appearance with the set background color*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px; }

/* Starter CSS for Flyout Menu */
body, html {
  overflow-x: hidden; }

#cssmenu {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.5s, transform 1s ease-out;
  -moz-transition: opacity 0.5s, transform 1s ease-out;
  -ms-transition: opacity 0.5s, transform 1s ease-out;
  -o-transition: opacity 0.5s, transform 1s ease-out;
  transition: opacity 0.5s, transform 1s ease-out;
  height: 100vh;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  width: 200px;
  background: #333333;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px; }
  #cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 597;
    float: left; }
    #cssmenu ul li, #cssmenu ul ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    #cssmenu ul li {
      float: left;
      min-height: 1px;
      line-height: 1em;
      vertical-align: middle;
      position: relative; }
      #cssmenu ul li.hover, #cssmenu ul li:hover {
        position: relative;
        z-index: 599;
        cursor: default; }
    #cssmenu ul ul {
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 598;
      width: 100%; }
      #cssmenu ul ul li {
        float: none; }
      #cssmenu ul ul ul {
        top: -2px;
        right: 0; }
    #cssmenu ul li:hover > ul {
      opacity: 1;
      visibility: visible; }
    #cssmenu ul ul {
      top: 1px;
      left: 99%; }
    #cssmenu ul li {
      float: none; }
    #cssmenu ul ul {
      margin-top: 1px; }
      #cssmenu ul ul li {
        font-weight: normal; }
  #cssmenu:before {
    content: '';
    display: block; }
  #cssmenu:after {
    content: '';
    display: table;
    clear: both; }
  #cssmenu a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }
  #cssmenu > ul, #cssmenu ul ul {
    width: 200px; }
  #cssmenu > ul > li > a {
    border-right: 4px solid #1b9bff;
    color: #ffffff; }
    #cssmenu > ul > li > a:hover {
      color: #ffffff; }
  #cssmenu > ul > li.active a, #cssmenu > ul > li a:hover, #cssmenu > ul > li:hover a {
    background: #1b9bff; }
  #cssmenu li {
    position: relative; }
  #cssmenu ul li.has-sub > a:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px; }
  #cssmenu ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border: 1px solid #0082e7; }
    #cssmenu ul ul li.first {
      -webkit-border-radius: 0 3px 0 0;
      -moz-border-radius: 0 3px 0 0;
      border-radius: 0 3px 0 0; }
    #cssmenu ul ul li.last {
      -webkit-border-radius: 0 0 3px 0;
      -moz-border-radius: 0 0 3px 0;
      border-radius: 0 0 3px 0;
      border-bottom: 0; }
    #cssmenu ul ul a {
      font-size: 12px;
      color: #ffffff; }
      #cssmenu ul ul a:hover {
        color: #ffffff; }
    #cssmenu ul ul li {
      border-bottom: 1px solid #0082e7; }
      #cssmenu ul ul li:hover > a {
        background: #4eb1ff;
        color: #ffffff; }
  #cssmenu.align-right {
    float: right; }
    #cssmenu.align-right > ul > li > a {
      border-left: 4px solid #1b9bff;
      border-right: none; }
    #cssmenu.align-right li {
      text-align: right; }
    #cssmenu.align-right ul li.has-sub > a:before {
      content: '+';
      position: absolute;
      top: 50%;
      left: 15px;
      margin-top: -6px; }
    #cssmenu.align-right ul li.has-sub > a:after {
      content: none; }
    #cssmenu.align-right ul ul {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 598;
      width: 100%;
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px; }
      #cssmenu.align-right ul ul li.first {
        -webkit-border-radius: 3px 0 0 0;
        -moz-border-radius: 3px 0 0 0;
        border-radius: 3px 0 0 0; }
      #cssmenu.align-right ul ul li.last {
        -webkit-border-radius: 0 0 0 3px;
        -moz-border-radius: 0 0 0 3px;
        border-radius: 0 0 0 3px; }
  #cssmenu.menu-toggle {
    opacity: 0;
    -moz-transform: translate(-1200px, 0);
    -webkit-transform: translate(-1200px, 0);
    -o-transform: translate(-1200px, 0);
    -ms-transform: translate(-1200px, 0);
    transform: translate(-1200px, 0); }
    #cssmenu.menu-toggle.align-right {
      -moz-transform: translate(1200px, 0);
      -webkit-transform: translate(1200px, 0);
      -o-transform: translate(1200px, 0);
      -ms-transform: translate(1200px, 0);
      transform: translate(1200px, 0); }

@media screen and (max-width: 771px) {
  body {
    background: #e7e7e7; }
  #cssmenu ul ul {
    float: none;
    border: 0;
    border-radius: 0;
    max-height: 0;
    margin-top: 0;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden; }
    #cssmenu ul ul li {
      border: 0; }
      #cssmenu ul ul li ul {
        top: 0; }
  #cssmenu ul li:hover > ul {
    max-height: 100vh; }
  #cssmenu.align-right ul ul {
    position: relative;
    left: auto;
    right: 0; } }

.menu-toggler {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px;
  background: orange;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px; }

/* Custom CSS Styles */
/*# sourceMappingURL=styles.css.map */